html, body{
	height:100%; 
	margin:0;padding:0;
	font-size: 18px;
}
.btn{
	font-size: 20px;
}
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
.row-fluid {
	height: 100%; 
	display:table-cell; 
}
.centering {
  float:none;
  margin:0 auto;
}
#login{
	width: 350px;
}
#login_form{
	padding: 30px;
}
#noempleado{
	width: 100%;
	padding: 10px;
}
#mymonitor{
	padding-top: 0px !important;
}
#info{
	text-align: right;
	font-style: italic;
	width: 50%;
}
#logo{
	text-align: left;
	width: 50%;
}
.link{
	font-size: 20px;
	color: #0218C5;
}
.panel-title{
	font-size: 20px;
}
.mistickets{
	max-width: 1200px;
}
#login_form{
	padding: 30px;
}
.table{
	max-width: 1200px;
}
.alineacion{
	vertical-align: middle;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nuevo{
	max-width: 1200px;
}
.form-group{
	font-size: 13px
}
.registrar{
	width: 50%;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
#trabajando {
    margin:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left: -15em;
    z-index: 999;
}
/*table tbody>tr>td{
    vertical-align: middle;
}*/
iframe{
    border:0;
}
.caducado{
  font-weight: bold;
  color: blue;
}
.vigente{
  color: blue;
}
.cerrado{
  color: green;
}
.abierto{
  color: blue;
}
.aligenacion_izquierda{
  text-align: left;
}
.ancho_input{
  width: 350px;
  padding: 10px;
}